@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  /* height: 3000px; */
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  /* align-items: space-evenly; */
}
/* ///////// navbar /////////// */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  /* display: flex;
  flex-direction: column; */
  /* height: 10%; */
}
.my-nav {
  /* padding: 1em 1.5rem 0.1rem 1.5rem; */
  /* padding-left: 30px; */
  padding: 0px 20px 0px 0px;
  padding-bottom: -10px;
  background-color: #409eff;
  width: 100%;
  height: 60px;
  margin: 0;
  font-weight: 300;
  flex: 1;
  /* display: flex;
  align-items: center;
  flex-direction: row; */
}

ul.menu {
  margin: 0px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin: 10px; */
}

.logo {
  /* font-family: "Roboto", sans-serif;
  justify-content: flex-start;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2px;
  padding-left: 20px;
  font-size: 160%;
  margin-right: 30px; */
  color: var(--other-white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.56px;
}

.menu .flex-1 {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
}

.menu .flex-2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  padding-right: 15px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  /* padding: 30px 30px; */
}

.menu #font-mainpage {
  color: #409eff;
  /* position: relative; */
}
.menu #mainpage {
  /* margin-left: 50px; */
  /* padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #ffffff;  */
  display: inline-flex;
  padding: 8px 18px 8px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--other-white, #fff);
}

.menu #travel-detail {
  padding: 0px;
}
.menu #add-area {
  /* margin-left: 50px; */
  padding: 3px 14px;
  /* padding: 10px; */
  border-radius: 30px;
  border: 2px solid #ff4040;
  background-color: #ff4040;
}
.menu #sign-in {
  padding: 3px 14px;
  /* padding: 10px; */
  border-radius: 4px;
  border: 1px solid var(--border-color, #dcdfe6);
  background: #f5f5f5;
}

.menu #sign-in a {
  color: var(--text-color-regular, #606266);
}

/* secondnavbar */
.second-nav {
  font-family: "Kanit", sans-serif;
  height: 115px;
  flex-shrink: 0;
  background: var(--other-white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(210, 210, 210, 0.25);
  padding: 15px 30px 9px 30px;
}
.filter-search {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.search-firsthalf {
  display: flex;
  flex-direction: row;
  flex: 2;
}
.search-sechalf {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  flex: 2;
  gap: 10px;
}
.searching {
  display: flex;
  width: 100%;
  /* width: 50%; */
  height: 28px;
  padding: 2px 8px;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--fill-color-light, #f5f7fa);
}
.searchbox {
  color: var(--text-color-secondary, #909399);
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  /* padding: 0px; */
  border: none;
  background-color: var(--fill-color-light, #f5f7fa);
  width: 100%;
}

.select {
  font-family: "Kanit", sans-serif;
  display: flex;
  width: 162px;
  height: 30px;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--border-color, #dcdfe6);
  background: var(--fill-color-blank, #fff);
  overflow: hidden;
}

.select-inside {
  font-family: "Kanit", sans-serif;
  width: 100%;
  color: var(--text-primary, #222324);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -0.01px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 0 20px 0 12px;
}

.drop-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  pointer-events: none;
}

.select-inside:focus {
  outline: none;
}

.select-inside::-ms-expand {
  display: none;
}

.select-inside::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  pointer-events: none;
}

.select-inside:hover::after {
  color: #000;
}

.drop-icon {
  cursor: pointer;
  transition: transform 0.01s ease;
}

.select:hover .drop-icon {
  transform: rotate(180deg);
}

.search-button {
  display: flex;
  width: 80px;
  padding: 3px 10px;
  justify-content: center;
  align-items: center;
  /* gap: 2px; */
  border-radius: 4px;
  background: var(--color-primary, #409eff);
  border: none;
}

.search-button a {
  text-decoration: none;
  color: var(--color-white, #fff);
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.01px;
}

/* secondsearch decorate*/

.filter-category {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.iconic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.minitext {
  text-decoration: none;
  color: #222324;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minitext-s {
  text-decoration: none;
  color: #222324;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 1px;
}

.iconic-special {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click-icon :hover path {
  transform: scale(1.02);
}

/* ///////// ///////// /////////// */

/* ///////// body /////////// */
.first-body {
  margin-left: 40px;
  margin-right: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 200px;
  padding-top: 30px;
  margin-bottom: 0px;
}
.second-body {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* margin-top: 5px; */
}
.first-title {
  display: flex;
  position: relative;
  padding-left: 43%;
}
.first-title h1 {
  /* padding-top: 20px; */
  font-weight: 300;
  font-size: 19px;
  color: var(--text-primary, #222324);
  margin: 0px;
  margin-top: 5px;
}

.button-firstbody {
  display: flex;
  gap: 8px;
  flex-direction: flex-end;
}

.button-filter {
  text-decoration: none;
  font-weight: 300;
  font-size: 11px;
  color: var(--text-color-regular, #606266);
  padding: 3px 20px;
  border-radius: 100px;
  border: 1px solid var(--border-color, #dcdfe6);
  background: var(--fill-color-blank, #fff);
}

/* ///////// slide-card /////////*/
.travel-card {
  height: 391px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.slides {
  padding: 0;
  width: 360px;
  height: 210px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
  /* opacity: 1; */
}

.nav label {
  width: 100px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: #fff;
  font-size: 40pt;
  text-align: center;
  line-height: 380px;
  /* background-color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px 15px rgb(119, 119, 119); */
}

/* .slide:hover + .nav label {
  opacity: 0.5; */
/* opacity: 1; */
/* } */

.nav label:hover {
  opacity: 1;
}

.nav .next {
  bottom: 75px;
  right: 0;
}

.nav .prev {
  bottom: 75px;
}

/* input:checked + .slide-container .slide {
  opacity: 1; */

/*transform: scale(1);*/
/*transform: translate();*/
/*transform: scale(2,3);*/

/* transition: opacity 1s ease-in-out;
} */

input:checked + .slide-container .nav label {
  display: block;
}

.slides {
  display: block;
}
.nav-dots {
  width: 100%;
  bottom: 1px;
  height: 20px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: #ededed;
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: #9a9a9a;
}

/* input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5 {
  background: var(--other-white, #fff);
} */

/* /////card below//// */
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 360px;
  height: 180px;
  /* height: 48%; */
  flex-shrink: 0;
  padding-bottom: 10px;
  border-radius: 0px 0px 6px 6px;
  border-right: 1px solid var(--other-boarder, #e4e4e4);
  border-bottom: 1px solid var(--other-boarder, #e4e4e4);
  border-left: 1px solid var(--other-boarder, #e4e4e4);
  background: #fff;
  /* padding-bottom: 10%; */
}

.first-linecard {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-linecard h4 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 11px;
}

.likeview {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.bun {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 11px;
  padding: 0px 6px;
  height: 30%;
  border-radius: 100px;
  background: var(--other-background, #f5f7fa);
  margin-top: 6px;
}

.bun#like {
  color: var(--text-error, #e93c3c);
}

.bun#view {
  color: var(--text-primary, #222324);
}

.second-linecard {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.second-linecard p {
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.second-linecard .readmore {
  padding-right: 280px;
  padding-top: 3px;
}

.readmore a {
  text-decoration: none;
  font-weight: 250;
  font-size: 11px;
  padding: 0px 12px;
  border-radius: 100px;
  background: var(--primary-light, #e8f2fd);
  color: var(--primary-main, #409eff);
}

.third-linecard {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.activity h3 {
  font-weight: 300;
  font-size: 13px;
  margin: 0px;
  padding-bottom: 12px;
  color: #4c4d50;
}

.num-act p {
  font-weight: 200;
  font-size: 11px;
  border-radius: 100px;
  border: 1px solid var(--primary-main, #409eff);
  background: var(--primary-light, #e8f2fd);
  color: var(--primary-main, #409eff);
  padding: 1px 17px;
}

.num-act {
  padding-bottom: 12px;
}

.second-body {
  list-style: none;
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
}

/* section-2 body */
.third-body {
  display: flex;
  flex-direction: column;
}
.second-title {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-title h1 {
  font-weight: 300;
  font-size: 19px;
  color: var(--text-primary, #222324);
  margin: 0px;
  margin-top: 5px;
}
.see-all {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
  margin-bottom: 10px;
}
.see-all a {
  text-decoration: none;
  font-weight: 300;
  font-size: 11px;
  color: var(--text-color-regular, #606266);
  padding: 3px 20px;
  border-radius: 100px;
  border: 1px solid var(--border-color, #dcdfe6);
  background: var(--fill-color-blank, #fff);
}

.fourth-body {
  /* font-family: "Roboto", sans-serif; */
  /* padding: 20px 0; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
}

.country {
  /* font-family: "Roboto", sans-serif; */
  list-style: none;
  display: flex;
  width: 387px;
  height: 234px;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.country a {
  padding: 0px;
}
.country img {
  width: 360px;
  height: 210px;
  flex-shrink: 0;
}

.country h2 {
  /* font-family: "Roboto", sans-serif !important; */
  list-style: none;
  position: absolute;
  z-index: 1;
  color: var(--other-white, #fff);
  font-size: 60px;
  font-weight: 300;
  line-height: normal;
}

.country img:hover {
  background: rgb(178, 173, 173);
  opacity: 0.7;
}

.ending {
  margin-top: 50px;
  background: var(--primary-main, #409eff);
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 15px 0px;
}

.ending p {
  color: var(--other-white, #fff);
  font-size: 14px;
  font-weight: 200;
}
